@import "tailwindcss";

:root {
  --background: #d5e6d0;
  --foreground: #282e26;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d5e6d0;
    --foreground: #282e26;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  text-align: left; /* Left align text */
  width: 35%;
  margin-left: 32.5%; /* Center the block horizontally */
  margin-right: 32.5%; /* Center the block horizontally */
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

.social-media-links {
  text-decoration: underline;
}

li {
  font-size: 1rem;
  text-align: left;
  width: 35%;
  margin-left: auto;
  margin-right: auto;
}

.custom-hr {
  width: 40%;
  margin: 1rem auto;
  border: none;
  border-top: 2px solid var(--foreground);
}