@import "tailwindcss";

:root {
  --background: #f1eddd;
  --foreground: #282522;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #282522;
    --foreground: #f1eddd;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 0;
  margin-top: 10px;
}

h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
}

p {
  font-size: 1rem;
  text-align: left;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
  padding-left: 0;
  margin-bottom: 1.5rem;
}

li {
  font-size: 1rem;
  text-align: left;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.social-media-links {
  text-decoration: underline;
}

.custom-hr {
  width: 530px;
  margin: 1rem auto;
  border: none;
  border-top: 2px solid var(--foreground);
}

/* mobile */
@media (max-width: 600px) {
  p {
    width: 85%;
  }

  li {
    width: 85%;
  }

  .custom-hr {
    width: 90%;
  }
}